### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import pandas.io.formats.style

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
#Print first 5 records of the csv data
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
#Display the total number of players
screen_name = purchase_data_df["SN"].value_counts().count()
#screen_name
total_players = pd.DataFrame({"Total Players": screen_name}, index=[0])

total_players

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
#Show the data types of the columns in the data
purchase_data_df.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [5]:
#Calculation to obtain the total number of records in the 
total_count = purchase_data_df["SN"].count()

#Calculate the total revenue
total_revenue = purchase_data_df["Price"].sum()

#Calculate the number of unique items 
total_unique = len(purchase_data_df["Item Name"].unique())

#Calculate the average price
avg_price = total_revenue / total_count

In [6]:
#Create a summary and give the columns different names by putting the values in a dictionary (Key/Value Pairs)
summary_df = pd.DataFrame({"Number of Unique Items": [total_unique],
                              "Average Price": avg_price,
                              "Number of Purchase": total_count,
                              "Total Revenue": total_revenue})

#Format 2 of the columns in the summary so they are showing as $
summary_df.style.format({'Average Price':"${:,.2f}",
                         'Total Revenue': '${:,.2f}'})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [7]:
#Group the Gender column so all same values are together
gender_counts_df = purchase_data_df.groupby("Gender")

#Calculate the unique screen names and get the number of gender for each so only 1 value for every screen name is tallied
unique_SN_df = gender_counts_df["SN"].nunique()

#Calculate the gender % of players and format them
gender_percentage_df = round((unique_SN_df / screen_name)*100,2).map("{0:,.2f}%".format)

#Create a summary for the gender demographics and sort highest to lowest by the total count
gender_summary_df = pd.DataFrame({"Total Count": unique_SN_df,
                               "Percentage of Players": gender_percentage_df})

#Gender demographics summary table sorted by total count
gender_summary_df.sort_values(by="Total Count", ascending=False)

                       Total Count Percentage of Players
Gender
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
#Get purchase value count of all Genders even if duplicate purchases
purchase_count = purchase_data_df["Gender"].value_counts()

#Calculate average purchase price for each Gender regardless of duplicates
avg_purchase_df = round(purchase_data_df.groupby("Gender").Price.mean(),2)

#Calculate the total sum of the purchase price for each gender
total_gender_purch_df = round(purchase_data_df.groupby("Gender").Price.sum(),2)

#Calculate the total average purchase price for each gender excluding duplicates
total_avg_purchase_df = round((total_gender_purch_df / unique_SN_df),2)

#Create a summary and give the columns different names by putting the values in a dictionary (Key/Value Pairs)
gender_purchasing_df = pd.DataFrame({"Purchase Count": purchase_count,
                              "Average Purchase Price": avg_purchase_df,
                              "Total Purchase Value": total_gender_purch_df,
                              "Avg Total Purchase per Person": total_avg_purchase_df})

#Sort the dataframe by purchase count
gender_purchasing_df = gender_purchasing_df.sort_values(by="Purchase Count", ascending=False)

#Format 3 of the columns in the summary so they are showing as $
gender_purchasing_df.style.format({"Average Purchase Price":"${:,.2f}", 
                                   "Total Purchase Value":"${:,.2f}", 
                                   "Avg Total Purchase per Person":"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [9]:
# Establish bins for ages and create labels 
demo_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
groups = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# slice the data using pd.cut and  Categorize the existing players based on age_bins  
purchase_data_df["Age Ranges"] = pd.cut(purchase_data_df["Age"],demo_bins, labels=groups)

#group dataframe by Age Ranges
age_group_df = purchase_data_df.groupby("Age Ranges")

#Calculate the unique screen names and get the number of gender for each so only 1 value for every screen name is tallied
unique_age_df = age_group_df["SN"].nunique()

#Calculate the average player percentage for each age range
age_percentage_df = round((unique_age_df / screen_name)*100,2).map("{0:,.2f}%".format)

#Create the age range dataframe summary
age_summary_df = pd.DataFrame({"Total Count": unique_age_df,
                               "Percentage of Players": age_percentage_df})

age_summary_df

            Total Count Percentage of Players
Age Ranges
<10                  17                 2.95%
10-14                22                 3.82%
15-19               107                18.58%
20-24               258                44.79%
25-29                77                13.37%
30-34                52                 9.03%
35-39                31                 5.38%
40+                  12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [10]:
purchase_data_df["Age Ranges"] = pd.cut(purchase_data_df["Age"],demo_bins, labels=groups)

#Group dataframe by Age Ranges
age_group_df = purchase_data_df.groupby("Age Ranges")

#Calculate the unique screen names and get the number of gender for each so only 1 value for every screen name is tallied
unique_agegroup_df = age_group_df["SN"].nunique()

#Calculate average purchase price for each Age Range
age_avg_purchase = round(purchase_data_df.groupby("Age Ranges").Price.mean(),2)

#Calculate the total sum of the purchase price for each Age Range
total_age_purch_df = round(purchase_data_df.groupby("Age Ranges").Price.sum(),2)

#Calculate the total average purchase price for each Age Range excluding duplicates
total_age_avg_purchase = round((total_age_purch_df / unique_agegroup_df),2)

#Create the dataframe summary purchasing analysis by age range
age_purchasing_summary = pd.DataFrame({"Purchase Count": unique_agegroup_df,
                               "Average Purchase Price": age_avg_purchase,
                               "Total Purchase Value": total_age_purch_df,
                               "Avg Total Purchase per Person": total_age_avg_purchase})

#Format the columns so the data has cleaner formatting
age_purchasing_summary.style.format({"Average Purchase Price":"${:,.2f}", 
                                   "Total Purchase Value":"${:,.2f}", 
                                   "Avg Total Purchase per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [11]:
#Group the dataframe by SN column
SN_df = purchase_data_df.groupby("SN")

#Count the unique values of the SN column
unique_SN_df = SN_df["SN"].count()

#Calculate the average price of the unique values in the SN column
age_avg_purchase = round(SN_df["Price"].mean(),2)

#Calculate the sum price of the unique values in the SN column
total_age_purch_df = round(SN_df["Price"].sum(),2)

#Top spenders summary dataframe
gender_purchasing_df = pd.DataFrame({"Purchase Count": unique_SN_df,
                              "Average Purchase Price": age_avg_purchase,
                              "Total Purchase Value": total_age_purch_df})

#Top spenders summary dataframe sorted and styled
gender_purchasing_df.sort_values(by="Total Purchase Value", ascending=False).head().style.format({"Average Purchase Price":"${:,.2f}", 
                                   "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [12]:
#Retrieve the Item ID, Item Name, and Item Price columns
popular_items_df = purchase_data_df[["Item ID", "Item Name","Price"]]

#Group by Item ID and Item Name
popular_items_grouped = popular_items_df.groupby(["Item ID", "Item Name"])

#Perform calculations to obtain purchase count, average item price, and total purchase value
most_popular_count = popular_items_grouped["Item Name"].count()
avg_most_popular = popular_items_grouped["Price"].mean()
total_most_popular = popular_items_grouped["Price"].sum()

#Most popular items summary dataframe
most_popular_summary = pd.DataFrame({"Purchase Count": most_popular_count,
                              "Average Purchase Price": avg_most_popular,
                              "Total Purchase Value": total_most_popular})

#Most popular items summary dataframe sorted by purchase count and formatted
most_popular_summary.sort_values(by="Purchase Count", ascending=False).head().style.format({"Average Purchase Price":"${:,.2f}", 
                                   "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [13]:
#Most popular items summary dataframe sorted by total purchase value and formatted
most_popular_summary.sort_values(by="Total Purchase Value", ascending=False).head().style.format({"Average Purchase Price":"${:,.2f}", 
                                   "Total Purchase Value":"${:,.2f}"})